streamlit
langchain>=0.3.0
langchain-community>=0.3.0
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-classic
pypdf
docx2txt
openpyxl
python-dotenv
rank_bm25
plotly
faiss-cpu
pandas