streamlit
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-classic
langchain-text-splitters
sentence-transformers
pypdf
docx2txt
openpyxl
python-dotenv
faiss-cpu
rank_bm25
plotly
