streamlit
langchain
langchain-community
langchain-core
langchain-groq
faiss-cpu
sentence-transformers
rank-bm25
transformers
torch
python-dotenv
pypdf
python-docx
pandas
openpyxl
langchain-text-splitters